@Resources/variables.var
@Resources/clocks.var
@Resources/disks.var
@Resources/network.var
@Resources/fortune.var
@Resources/gpus.var
@Resources/system.var
About/generated.inc
Themes/generated.inc
Disks/Config/generated.inc
Disks/generated.inc
GPU/Config/generated.inc
GPU/generated.inc
System/generated.inc
